@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";

.stats {
  background-color: $background;
  padding: 160px 0;
}
.stats_content {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 520px;
}

.stats_name {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.stats_text {
  @extend %text-style-36px;
  color: $color-content;
  margin-right: 10px;
}

.stats_text:hover {
  color: $color-point;
  cursor: pointer;
}
