@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";
.course_button {
  display: flex;
}

.course_main_img {
  margin-top: 48px;
}

.course_main_img_ {
  max-width: 100%;
  height: auto;
}
