@import "src/Style/Colors";
@import "src/Style/Variables";

.dashboard {
  min-height: calc(100vh - 375px);
  padding-top: 160px;
  padding-bottom: 40px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;

  .header {
    @extend %text-style-36px;
    color: $color-content;
    margin-bottom: 40px;
  }
  .dashboard-content {
    @media (max-width: 1280px) {
      padding: 0 40px;
    }
    
    @media (max-width: 768px) {
      padding: 0 16px;
    }
  }
  .ant-card {
    background: $color-content;
    border: 0;
    overflow: auto;
  }

  .ant-card-head-title {
    @extend %text-style-24px;
    color: $color-sub-title;
  }
  &-content {
    .fields {
      display: flex;
      justify-content: space-between;
      //align-items: flex-end;
      margin-bottom: 8px;
      &_label {
        @extend %text-style-18px-roboto;
        color: $color_title;
        margin-right: 6px;
        min-width: 60px;
      }

      &_value {
        @extend %text-style-20px;
        color: $color-title;
      }
    }

    .course-premium_button {
      margin-top: 40px;
    }
  }
}