@import "../../Style/Colors.scss";
@import "../../Style/Variables.scss";

.ant-select-selector {
  background: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(15px) !important;
  text-align: center;
  color: $color-point !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.ant-select-arrow {
  display: none !important;
}

.ant-select-selection-item {
  padding: 0px !important;
}

.ant-select-dropdown {
  background-color: rgba(0, 0, 0, 0) !important;
  color: $color-point !important;
}

.ant-select-item {
  background-color: rgba(0, 0, 0, 0) !important;
  color: $color-point !important;
}

.ant-select-item-option-content {
  color: white !important;
}

.ant-select-item-option-content:hover {
  color: $color-point !important;
}
