@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";

.main {
  background: $background;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.main_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_box {
  display: flex;
}

.main_content__name {
  @extend %text-style-80px;
  color: $color-content;
}

.main_content__text {
  @extend %text-style-24px;
  text-align: left;
  color: $color-text;
  width: 450px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.main_content__join {
  margin-bottom: 80px;
}

.main_content__join:hover {
  background-color: $color-point;
  color: black;
}

.main_box__content {
  margin: 0px 8px;
}

.modal {
  background-color: $color-content !important;
}

.modal_registr {
  display: flex;
}

.modal_title {
  @extend %text-style-36px;
  color: $color_title;
  margin-bottom: 16px;
}

.modal_text {
  @extend %text-style-16px;
  color: $color_title;
  margin-bottom: 26px;
  font-family: "Roboto";
}

.modal_button {
  background-color: $color-content;
  border: 1px solid $color-sub-title;
  color: $color-sub-title;
  border-radius: 4px;
  margin-top: 66px;
}

.modal_button:hover {
  background-color: $color-point;
  color: black;
}

.modal_success_img {
  margin-bottom: 16px;
  margin-top: 32px;
}

.modal_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_success_text {
  @extend %text-style-16px;
  color: $color-title;
  font-family: "Roboto";
  width: 318px;
  text-align: center;
  margin-bottom: 20px;
}

.ant-modal-close {
  border: 1px solid white !important;
  border-radius: 8px !important;
  background-color: white !important;
}

.ant-btn-primary:hover {
  background-color: $color-sub-title !important;
}

@keyframes fadeOutOpacity-GktTKi5q {
  0% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.main_down {
  text-align: center;
  margin-top: 93px;
  animation: fadeInOpacity-GktTKi5q 0.7s ease 1.5s forwards;
}

@media screen and (max-width: 1019px) {
  .arrowIcon-GktTKi5q {
    display: none;
  }
}
@keyframes bubbleAnimation-GktTKi5q {
  0% {
    transform: rotate(-90deg) translateX(5px);
  }
  50% {
    transform: rotate(-90deg) translateX(-5px);
  }
  to {
    transform: rotate(-90deg) translateX(5px);
  }
}

.arrowBlock-GktTKi5q {
  animation: fadeInOpacity-GktTKi5q 0.7s ease 1.5s forwards;
  bottom: 20px;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .arrowBlock-GktTKi5q {
    display: flex;
  }
}
.isVisible-GktTKi5q {
  animation: fadeInOpacity-GktTKi5q 0.7s ease 1.5s forwards;
}
@keyframes fadeInOpacity-GktTKi5q {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.isHidden-GktTKi5q {
  animation: fadeOutOpacity-GktTKi5q 0.7s ease forwards;
}

.arrowIcon-GktTKi5q {
  animation: bubbleAnimation-GktTKi5q 2s ease-in-out 0s infinite;
  color: #d1d4dc;
}
@media screen and (max-width: 1019px) {
  .arrowIcon-GktTKi5q {
    display: none;
  }
}
@keyframes bubbleAnimation-GktTKi5q {
  0% {
    transform: rotate(-90deg) translateX(5px);
  }
  50% {
    transform: rotate(-90deg) translateX(-5px);
  }
  to {
    transform: rotate(-90deg) translateX(5px);
  }
}
