.block-wrapper {
  margin-top: 160px;

  .news-list {
    height: auto;
    min-height: auto;
    padding: 0;
    padding-top: 100px;
  }

  .course {
    padding: 0;
    height: auto;
    min-height: auto;
  }

  .stats {
    padding: 0;
    height: auto;
    min-height: auto;
  }

  .merch {
    height: auto;
    padding: 0;
    min-height: auto;
  }
}
