@import "src/Style/Colors";
@import "src/Style/Variables";

.modal_premium {
  .details-description__list {
    @extend %text-style-18px;
    font-family: "Roboto";
    color: $color_title;
    margin-top: 20px;
  }
}