@import "src/Style/Colors";
@import "src/Style/Variables";


.news_open_button {
  text-align: center;
}

.news_open_button:hover {
  background-color: $color-point;
  cursor: pointer;
  border-radius: 4px;
}

.news-main {
  padding-top: 176px;
  background-color: $background;
  padding-bottom: 80px;
}

.news {

  background-color: $background;
}

.news_main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.news_name {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.news_height {
  padding-bottom: 150px;
}

.news_content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.news_content_no {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.news_name__text {
  @extend %text-style-36px;
  color: $color-content;
  margin-right: 8px;
}

.news_name__text:hover {
  color: $color-point;
  cursor: pointer;
}


.news_content_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.news-list {
  padding-top: 176px;
  background-color: $background;
  padding-bottom: 80px;
}

