@import "src/Style/Colors";
@import "src/Style/Variables";

.current_news {
  padding-top: 112px;
  background-color: $background;
  min-height: calc(100vh - 369px);
}

.current_news_carusel {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current_news_content {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}

.current_news_carusel_title {
  @extend %text-style-36px;
  color: $color-content;
  margin-bottom: 48px;
  text-align: center;
}

.current_news_carusel_text {
  @extend %text-style-24px;
  color: $color-text !important;
  margin-bottom: 32px;
  word-break: break-word;

  p:last-child {
    display: none;
  }
}

.current_news_img {
  margin-bottom: 32px;
}

.current_news_img_text {
  @extend %text-style-24px;
  margin-top: 48px;
}

.current_news_left {
  width: 64px;
  height: 64px;
  padding-right: 60px;
}

.current_news_rigth {
  width: 64px;
  height: 64px;
  padding-left: 60px;
}

.news_left {
  position: fixed;
  top: 380px;
  left: 5%
}

.news_right {
  position: fixed;
  top: 380px;
  right: 5%;
}