@import "src/Style/Colors";
@import "src/Style/Variables";

.news_box {
  width: 200px;
  margin-bottom: 64px;
  margin-right: 32px;
}

.news_box__source {
  display: flex;
  align-items: center;
  @extend %text-style-14px-roboto;
  color: $color-text;
}

.news_box__text {
  @extend %text-style-24px;
  color: $color-content;
  margin-top: 8px;
}

.news_box__img {
  margin-right: 8px;
}


.news_box__text:hover {
  color: $color-point;
}
