$color_title: #461e0e;
$color-text: #cdae9d;
$color-content: #f1e7de;
$color-sub-title: #e15f03;
$color-sub-text: #f5f5f5;
$background-header: rgba(33, 14, 6, 0.9);
$color-point: #1befef;
$background: #120804;
$fill-icon: #646464;
$color-disabled: #ded9d4;   
