@import "src/Style/Colors";
@import "src/Style/Variables";

.course_main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.course_main_img_wrapper {
  margin-top: 48px;
}

.course_main_img {
  max-width: 100%;
  height: auto;
}
