@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";

.merch {
  background-color: $background;
}

.merch_content {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 40px;
}

.merch_content_text {
  @extend %text-style-36px;
  color: $color-content;
  margin-bottom: 50px;
  margin-top: 30px;
}

.merch_img {
  max-width: 100%;
  height: auto;
}
