@import "src/Style/Colors";
@import "src/Style/Variables";

html {
  scroll-behavior: smooth;
}

.underline {
  text-decoration: none;
}

.ant-modal-content {
  background-color: $color-content !important;
}

.svg_content {
  width: 92px;
  height: 59px;
}

.home {
  background: $background;
}

.slick-slide {
  overflow: hidden; padding-right: 1px;
}

@media (max-width: 1280px) {
  //Header
  .nav {
  }

  .header {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }

  .main_content {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }

  //SLIDER

  .slider {
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .slick-list {
    //max-width: none;
    margin: 0;
  }

  .slider_coin {
    width: 30vw;
    height: auto;
  }

  .svg_coin_fox {
    width: 100%;
    height: 100%;
  }

  //COURSE
  .course_content {
    max-width: none;
    margin: 0;
    padding: 0px 40px;
  }

  .course_svg {
    width: 100%;
    height: 100%;
  }

  .course_main_img {
    width: 40vw;
    height: auto;
  }

  .course_main_content_sub {
    width: 450px;
    height: 120px;
  }

  //Stats

  .stats {
    display: flex;
    justify-content: flex-start;
  }

  .stats_content {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0px 40px;
  }

  //News
  .news_main {
    max-width: none;
    margin: 0;
    padding: 0px 40px;
  }

  .news_box {
    margin-right: 16px;
  }

  //Merch
  .merch_content {
    max-width: none;
    margin: 0;
    padding: 0 40px 40px 40px;
  }

  //Footer
  .footer_content {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }

  //Current course
  .current_course_ {
    padding-left: 40px;
    padding-right: 40px;
  }

  .current_course_about_img {
    width: 30vw;
    height: auto;
  }
  .current_course_about_name {
    max-width: 300px;
    height: auto;
  }

  .current_course_about_text {
    max-width: 300px;
    height: auto;
  }

  .current_course_study_text {
    max-width: 30vw;
    height: auto;
  }

  //Current news
  .current_news_carusel_title {
    max-width: 100%;
    height: auto;
  }

  .current_news_content {
    width: 66vw !important;
    height: auto;
  }

  .current_news_carusel_text {
    max-width: 100%;
    height: auto;

    p {
      max-width: 100% !important;
    }

    img {
      max-width: 100% !important;
    }
  }

  .current_news_img_ {
    max-width: 100%;
    height: auto;
  }

  .current_news_left {
    padding: 0px !important;
    left: 16px;
  }

  .current_news_rigth {
    padding-left: 0px !important;
    right: 16px;
  }
}

@media (max-width: 1024px) {
  //HEADER
  .header_menu {
    display: flex;
  }
  .ant-drawer-body {
    padding-left: 40px !important;
    padding-right: 40px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .nav_content__text_drawer {
    margin-bottom: 40px;
  }

  .header_t {
    margin-right: 40px;
  }

  .drawer_nav_content__t {
    display: flex;
  }

  .active_link {
    margin-bottom: 40px;
  }

  .nav_content {
    display: none;
  }

  .nav_content__t {
    display: none;
  }
  //main
  .big-log {
    width: 100%;
    height: 100%;
  }
  .main_img {
    width: 100%;
    height: auto;
  }

  //SLIDER

  .slider_coin {
    margin-right: 15px;
  }

  .slider_list {
    max-width: 400px;
  }

  //COURSE

  .current_course_about_img {
    width: 30vw;
    height: auto;
  }
  .current_course_about_name {
    max-width: 250px;
    height: auto;
  }

  .current_course_about_text {
    max-width: 250px;
    height: auto;
  }

  .current_course_study_text {
    margin-right: 20px;
    max-width: 28vw;
  }

  .current_course_item {
    max-width: 400px;
  }

  .current_course_list {
    margin-right: 20px;
  }

  .current_course_main {
    display: flex;
    flex-direction: column-reverse;
  }

  .current_course_main_img {
    margin-bottom: 20px;
  }

  .drawer_nav_content_sub {
    display: flex;
    flex-direction: column;
  }

  .nav_content__text {
    margin-bottom: 40px;
    color: $color_title;
  }
}

@media (max-width: 900px) {
  //HEADER
  .main_content {
    display: flex;
    flex-direction: column-reverse;
  }
  //MAIN

  //course

  .course_main_content_sub {
    max-width: 330px;
  }
}

@media (max-width: 768px) {
  .block-wrapper {
    margin-top: 80px;
  }
  //HEADER
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  //main
  .main_content__name {
    font-size: 64px;
  }
  .main_content__text {
    font-size: 20px;
  }
  //slider

  .slider_img {
    max-width: 60%;
    height: auto;
  }
  .slider_list {
    max-width: 100%;
  }
  .home_content {
  .slick-next {
      width: 48px;
      height: 48px;
      top: 12%;
    }
  }
  .home_content {
    .slick-prev {
      width: 48px;
      height: 48px;
      top: 12%;
    }
  }
  .slider_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .slider_coin {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 16px;
  }
  .svg_coin_fox {
    width: 250px;
    height: 269px;
  }
  //course
  .course_main_content_sub {
    font-size: 20px;
  }
  .course {
    display: flex;
    justify-content: center;
  }
  .course_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .course_main_img {
    width: 100%;
    height: auto;
  }

  .course_main_content {
    display: flex;
    flex-direction: column;
  }

  .course_button {
    display: flex;
    justify-content: center;
  }

  .course_main_content_sub {
    max-width: 400px;
    height: auto;
  }

  .news_main {
    padding: 0px 16px;
  }

  .news-main {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .course_main_content_text {
    font-size: 36px;
  }

  //stats
  .stats_content {
    padding: 0px 16px 80px 16px;
  }

  .stats_button {
    justify-content: center;
  }

  //news
  .news_box {
    width: 43%;
  }

  //merch
  .merch_content {
    padding: 0px 16px 40px 16px;
  }

  //video
  .video {
    padding-right: 16px;
    padding-left: 16px;
  }

  //footer
  .footer_content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer_content_icon {
    margin-top: 40px;
  }
  .footer_name_company {
    justify-content: unset;
  }
  .footer_icons {
    margin: 0;
    margin-right: 24px;
  }

  .current_course_item {
    max-width: none;
  }

  .current_course_about_content {
    display: flex;
    flex-wrap: wrap;
  }

  .current_course_about_img {
    width: 40vw;
  }

  .current_course_about_text {
    max-width: 278px;
  }

  .current_course_about_name {
    max-width: 278px;
  }

  .current_course_study_text {
  }

  .current_course_ {
    padding-left: 16px;
    padding-right: 16px;
  }

  .current_course_button {
    margin-bottom: 0px;
  }

  .current_course_item {
  }

  .current_news_carusel {
    display: flex;
    justify-content: center;
    padding: 0px 16px;
  }

  //.news_left {
  //  width: 48px !important;
  //  height: 48px !important;
  //  top: 200px;
  //}
  //
  //.prev_news {
  //  width: 48px !important;
  //  height: 48px !important;
  //  top: 200px;
  //}

  .current_news_rigth {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .current_news_carusel_title {
    font-size: 28px !important;
  }

  .current_news_carusel_text {
    font-size: 20px !important;
  }
}

@media (max-width: 600px) {
  //main

  .main_img {
    width: auto;
    height: auto;
  }

  .main_content__text {
    max-width: 400px;
  }

  // stats

  .stats_numbers {
    display: flex;
    flex-wrap: wrap;
  }

  //news
  .news_box {
    width: 100%;
  }

  .main_box {
    display: flex;
    flex-wrap: wrap;
  }

  .current_course_about_text {
    width: auto !important;
    max-width: 350px !important;
    height: auto;
  }

  .current_course_about_name {
    width: auto !important;
    max-width: 350px !important;
    height: auto;
  }

  .current_course_about_img {
    width: auto !important;
  }

  .current_course_about_content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .current_course_list {
    width: 85vw;
  }

  .current_course_item {
    max-width: 100%;
    font-size: 20px !important;
  }

  .current_course_title {
    max-width: 100%;
  }

  .main_down {
    display: none;
  }

  .main {
    padding-bottom: 100px;
  }

  .merch_content_text {
    margin-top: 0px;
  }

  .current_course_study_content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 450px;
    height: 350px;
  }

  .current_course_study_list {
    flex: none;
  }
  .current_course_study_text {
    max-width: 300px !important;
  }

  //.news_content {
  //  display: flex;
  //  flex-direction: column;
  //}

  .news_open_button {
    margin-top: 40px;
  }

  .modal_input {
    max-width: 100%;
  }

  .modal_registr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .modal_success_text {
    max-width: 288px;
  }
}

@media (max-width: 480px) {
  .arrow {
    align-self: center;
  }

  //main
  .main_box {
    overflow: auto;
    width: 288px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main_content__text {
    max-width: 288px;
  }

  .course_main_content_sub {
    max-width: 288px;
  }

  .main_box__content {
    margin: 0px 8px;
  }

  .main_content__name {
    font-size: 48px;
  }
  //course
  .course_content {
    padding: 0px 16px;
  }
  //footer
  .footer_content {
    display: flex;
    flex-direction: column;
  }

  .footer_content_nav {
    display: flex;
    flex-direction: column;
  }
  .footer_content_list {
    margin: 0px;
    margin-top: 40px;
  }

  .footer_content_icon {
    display: flex;
    justify-content: flex-start;
  }

  .main_down {
    display: none;
  }

  .current_course_ {
    padding-top: 200px !important;
  }

  .current_course_title {
    font-size: 48px !important;
  }

  .current_course_about {
    padding: 0;
  }

  .modal {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 390px) {
  .main_list {
    display: block;
  }

  .course_button {
    display: block;
  }

  .current_course_button {
    display: block !important;
  }
  .home_content {
    .slick-next {
      top: 10%;
    }

    .slick-prev {
      top: 10%;
    }
  }
}

@media (max-width: 320px) {
  //Header
  .nav {
    padding: 10px 0px;
  }

  .header {
    max-width: 304px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .svg_content {
    width: 64px;
    height: 41px;
  }

  .nav_content {
    display: none;
  }

  .nav_content__t {
    display: none;
  }

  //Main

  .main {
    padding-top: 120px;
  }

  .main_content {
    max-width: 304px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main_content {
    flex-wrap: wrap;
  }

  .main_content__name {
    font-size: 36px;
    max-width: 203px;
    margin-top: 44px;
  }

  .main_box {
    flex-wrap: wrap;
  }

  .main_content__text {
    font-size: 20px;
    max-width: 288px;
  }

  .main_content {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_content__join {
    text-align: center;
    width: 288px;
    margin-bottom: 40px;
  }

  .main_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //slider
  .slider {
    padding: 0px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .home_content {
    .slick-next {
      width: 18px;
      height: 18px;
      top: 8%;
      right: -5px;
    }


    .slick-prev {
      width: 18px;
      height: 18px;
      top: 8%;
      left: -5px;
      z-index: 11;
    }
  }

  .slick-list {
    max-width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_title {
    font-size: 32px;
    max-width: 250px;
  }

  .slider_coin {
    margin: 0px;
    margin-bottom: 40px;
  }

  .slider_text {
    font-size: 20px;
    //max-width: 250px;
    text-transform: none;
  }

  .svg_coin_fox {
    width: 250px;
    height: 269px;
  }

  //course
  .course_main_img {
    width: 90vw;
  }

  .course_main_content_sub {
    display: flex;
    text-align: left;
  }

  .course_main_content_text {
    display: flex;
    text-align: left;
    justify-content: flex-start;
  }

  //footer
  .footer_content_list {
    margin: 0px;
  }
}
