@import "src/Style/Colors";
@import "src/Style/Variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  position: absolute;
  top: 20vw;
  left: 50vw;
  right: 50vw;
}

.video {
  padding: 0;
  margin: 0;
}

a {
  @extend %text-style-18px-roboto;
  color: $color-text;
  text-decoration: none;
}

a:hover {
  color: $color-point
}