@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";

.main {
  background: $background;
  padding-top: 200px;
  padding-bottom: 100px;
}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.main_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_box {
  display: flex;
}

.main_content__name {
  @extend %text-style-80px;
  color: $color-content;
}

.main_content__text {
  @extend %text-style-24px;
  text-align: left;
  color: $color-text;
  width: 450px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.main_content__join {
  margin-bottom: 80px;
}

.main_content__join:hover {
  background-color: $color-point;
  color: black;
}

.main_box__content {
  margin: 0px 8px;
}

.modal {
  background-color: $color-content !important;
}

.modal_registr {
  display: flex;
}

.modal_title {
  @extend %text-style-36px;
  color: $color_title;
  margin-bottom: 16px;
}

.modal_text {
  @extend %text-style-16px;
  color: $color_title;
  margin-bottom: 26px;
  font-family: "Roboto";
}

.modal_button {
  background-color: $color-content;
  border: 1px solid $color-sub-title;
  color: $color-sub-title;
  border-radius: 4px;
  margin-top: 66px;
}

.modal_button:hover {
  background-color: $color-point;
  color: black;
}

.modal_success_img {
  margin-bottom: 16px;
  margin-top: 32px;
}

.modal_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_success_text {
  @extend %text-style-16px;
  color: $color-title;
  font-family: "Roboto";
  width: 318px;
  text-align: center;
  margin-bottom: 20px;
}

.ant-modal-close {
  border: 1px solid white !important;
  border-radius: 8px !important;
  background-color: white !important;
}

.ant-btn-primary:hover {
  background-color: $color-sub-title !important;
}

.main_down {
  text-align: center;
  margin-top: 23px;
  animation: rotate 0.7s infinite ease-in-out alternate;
  height: 100px;
  position: relative;
}

.down {
  position: absolute;
}

@keyframes rotate {
  from {
    top: 10px;
    line-height: 50px;
  }
  to {
    top: 20px;
    line-height: 100px;
  }
}
