@import "../../../Style/Colors.scss";
@import "../../../Style/Variables.scss";

.main {
  background: $background;
  padding-top: 170px;
}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.main_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_box {
  display: flex;
}

.main_content__name {
  @extend %text-style-80px;
  color: $color-content;
}

.main_content__text {
  @extend %text-style-24px;
  text-align: left;
  color: $color-text;
  width: 450px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.main_content__join {
  margin-bottom: 80px;
}

.main_box__content {
  margin: 0px 8px;
}

.main_down {
  text-align: center;
  margin-top: 23px;
  animation: rotate 0.7s infinite ease-in-out alternate;
  height: 100px;
  position: relative;
}

.down {
  position: absolute;
}

@keyframes rotate {
  from {
    top: 10px;
    line-height: 50px;
  }
  to {
    top: 20px;
    line-height: 100px;
  }
}



